In [4]:
from sqlalchemy import create_engine
import config
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
engine = create_engine(f'postgresql://{config.user}:{config.password}@localhost:5432/SQL-Challenge')

connection = engine.connect()

<sqlalchemy.engine.result.ResultProxy object at 0x00000168B176E4A8>

The max salary is 129492
The min salary is 40000

300024